---
import Layout from "../layouts/Layout.astro";

import {Button, Diviser} from "@udixio/ui"
import home1 from "@assets/images/home-1.png";
import home1Left from "@assets/images/home-1-left.png";
import home1Middle from "@assets/images/home-1-middle.png";
import home1Right from "@assets/images/home-1-right.png";
import home1Stars from "@assets/images/home-1-stars.svg";
import {Image} from "astro:assets";
import {StickyScroll} from "@components/sticky-scroll-reveal";
import '@dotlottie/react-player/dist/index.css';
import astroLogo from "@assets/images/astro-logo.svg?raw"
import reactLogo from "@assets/images/react-logo.svg?raw"
import tsLogo from "@assets/images/ts-logo.svg?raw"
import {Link} from "@components/Link"
import flutterLogo from "@assets/images/flutter-logo.svg?raw"
import angularLogo from "@assets/images/angular-logo.svg?raw"
import materialLogo from "@assets/images/material-design-logo.svg?raw"
import framerMotionLogo from "@assets/images/framer-motion-logo.svg?raw"
import sassLogo from "@assets/images/sass-logo.svg?raw"
import layoutResponsive from "@assets/images/Responsive-pana.svg"
import flutterLogo from "@assets/images/flutter-logo.svg?raw"
import tailwindLogo from "@assets/images/tailwind-logo.svg?raw"
import baseLogo from "@assets/images/base-logo.svg?raw"
import portrait from "@assets/images/portrait.jpg"
import {BackgroundColor} from "@components/BackgroundColor";
import {Icon} from "@udixio/ui"
import {Card} from "@udixio/ui"
import {
    faAddressCard,
    faCircle,
    faCode, faGears,
    faLaptopMobile,
    faMessageMiddle
} from "@fortawesome/pro-light-svg-icons";
import {Techno} from "@components/Techno"
import TextRevealByWord from "../components/TextReveal";
import {faBrowser, faCircleInfo, faEnvelope,} from "@fortawesome/pro-regular-svg-icons";
import {faAndroid, faApple, faLinux, faWindows} from "@fortawesome/free-brands-svg-icons";
import {Line} from '@components/Line'
import {LinearGradient} from "@components/LinearGradient";
---
<Layout>
    <section class="pt-20 md:pt-28 xl:pt-32">
        <div class="max-width">
            <div class="flex">
                <div>
                    <Line client:load visible isFirst icon={faCircle}/>
                </div>
                <div class="padding !pb-16">
                    <Image class="rounded-xl" src={portrait} height={64} width={64} alt="Joël"></Image>
                    <h1 class="text-headline-large my-6">
                        Joël VIGREUX
                    </h1>
                    <div class="flex flex-wrap gap-4">
                        <div class="px-4 w-fit py-1.5 border border-outline-variant rounded-lg"><p
                                class="text-label-large text-on-surface-variant">Développeur
                            full-stack</p>
                        </div>
                        <div class="px-4 w-fit py-1.5 border border-outline-variant rounded-lg"><p
                                class="text-label-large text-on-surface-variant">3 années d'experiences</p>
                        </div>
                        <a href="#contact" class="group">
                            <div class="px-4 w-fit py-1.5 items-center flex gap-2 border relative overflow-hidden border-primary-container bg-primary-container rounded-lg">
                                <div class="group-state-on-primary-container absolute w-full h-full left-0 top-0">

                                </div>
                                <Icon className="h-[18px] text-on-secondary-container" icon={faMessageMiddle}></Icon>
                                <p
                                        class="text-label-large text-on-secondary-container">Disponible pour vos
                                    projets</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex mt-8">
                <div>
                    <Line client:load icon={faAddressCard} nextTheme="purple"/>
                </div>
                <div class="padding">
                    <h2 class="text-title-medium  mb-4 text-tertiary ">À propos de moi</h2>
                    <p class="text-body-large max-w-3xl ">
                        Bonjour, je suis Joël Vigreux - un développeur passionné.<br/> Ayant découvert un vif intérêt
                        pour
                        le
                        <Link client:load href="#back-end">back-end</Link>
                        en
                        débutant ma carrière, je me suis ensuite laissé porter par l'univers fascinant du
                        <Link href="#front-end">front-end</Link>
                        et de <span class="text-nowrap">l'
            <Link client:load
                  href="#experience-utilisateur">expérience&nbsp;utilisateur</Link></span>
                        tout en intégrant des pratiques
                        <Link client:load
                              href="#ecoresponsabilite">écoresponsables
                        </Link>
                        de manière pragmatique.
                    </p>
                    <div class="mt-8 flex gap-4">
                        <Button icon={faEnvelope} client:load label="Me contacter"/>
                        <Button href="#front-end" icon={faCircleInfo} variant="outlined" client:load
                                label="En savoir plus"/>
                    </div>
                </div>
            </div>
        </div>
        <LinearGradient nextTheme="purple"/>
    </section>
    <section id="front-end" class="pt-8 theme-purple">
        <BackgroundColor canEscape={false} count={5} radius={800} className="opacity-100" client:load/>
        <div class="max-width ">
            <div class="flex">
                <div>
                    <Line client:load icon={faCode} isLast/>
                </div>
                <div class="padding ">
                    <p data-aos="fade-right" class="text-title-large">Développement web - front-end</p>
                    <div data-aos="fade-right" data-aos-delay="100" class="mt-4 text-display-medium max-w-prose">
                        <h2 class="text-gradient">Performances et flexibilité garanties</h2>
                        <h3>J'assure vos projets avec des technologies modernes et adaptables</h3>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-1 -mx-2 md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-10">
                <Card data-aos="zoom-in" variant="filled"
                      className="group">
                    <Techno variant="primary" className="p-6 pb-10" image={astroLogo} client:load displayMore
                            name="Astro"
                            description="Optimise la création de sites web rapides en permettant l'intégration de divers frameworks et en générant du contenu statique ultra-performant.">
                    </Techno>
                </Card>
                <Card data-aos="zoom-in" data-aos-delay={150} variant="filled"
                      className="group">
                    <Techno variant="primary" className="p-6 pb-10" client:load image={reactLogo} displayMore
                            name="React"
                            description="facilite la création d'interfaces interactives avec des composants réutilisables, accélérant le développement et la gestion de l'état.">
                    </Techno>
                </Card>
                <Card data-aos="zoom-in" data-aos-delay={300} variant="filled"
                      className="group">
                    <Techno variant="primary" className="p-6 pb-10" client:load image={tailwindLogo} displayMore
                            name="Tailwind"
                            description="Permet de créer des designs personnalisés rapidement avec des classes utilitaires, rendant le style des composants flexible et modulaire.">
                    </Techno>
                </Card>
                <!--<Card variant="filled" className="lg:order-1 group hover:!bg-surface-container-high">-->
                <!--    <h2>Lorem</h2>-->
                <!--</Card>-->
                <Card data-aos="zoom-in" data-aos-delay={450} className="md:col-span-3 p-6 pb-10 mb-px">
                    <p class="mb-8 mt-2">Ma boîte à outils :</p>
                    <div class=" grid grid-cols-2 gap-x-4 gap-y-6">
                        <Techno image={framerMotionLogo} name="Framer Motion"
                                description="Rend les animations web simples et fluides, ajoutant du dynamisme à vos interfaces avec facilité.">
                        </Techno>
                        <Techno image={materialLogo} name="Material 3"
                                description="Apporte des designs modernes et élégants, offrant des interfaces cohérentes et intuitives avec des éléments visuels raffinés.s.">
                        </Techno>
                        <Techno image={angularLogo} name="Angular"
                                description="Facilite le développement d'applications web robustes et évolutives avec une structure organisée et des fonctionnalités puissantes intégrées.">
                        </Techno>
                        <Techno image={sassLogo} name="Sass"
                                description="Simplifie le CSS avec des variables et des fonctions, facilitant la gestion des styles complexes.">
                        </Techno>
                        <Techno image={tsLogo} name="Typescript"
                                description="Améliore le JavaScript avec des types, rendant le code plus sûr et plus facile à maintenir.">
                        </Techno>

                        <Techno image={baseLogo} name="Les bases (HTML, CSS et JavaScript)"
                                description="Fondations essentileselles pour créer des sites web interactifs et fonctionnels.">
                        </Techno>
                    </div>
                </Card>
            </div>
            <div class="flex h-52">
                <div>
                    <Line client:load/>
                </div>
            </div>
        </div>
    </section>
    <section class="theme-purple">
        <div class="max-width">
            <div class="flex mt-8">
                <div>
                    <Line client:load nextTheme="blue" icon={faLaptopMobile}/>
                </div>
                <div class="padding">
                    <div class="flex items-center md:flex-row flex-col">
                        <div class="left">
                            <p data-aos="fade-right" class="text-title-large">Développement multiplateforme</p>
                            <div data-aos="fade-right" data-aos-delay="100"
                                 class="mt-4 text-display-medium max-w-prose">
                                <h2 class="text-gradient">Touchez un public plus large</h2>
                                <h3>Je convertis vos idées en applications adaptables à tous les
                                    appareils</h3>
                            </div>
                            <p class="max-w-prose mt-8 text-body-large">Flutter me permet de créer des applications pour
                                mobiles, web, bureau et intégrés à partir d'une seule base de code. J'apprécie
                                particulièrement
                                son efficacité dans le développement multiplateforme, ce qui facilite grandement mon
                                travail.</p>

                        </div>
                        <!--<div class="right">-->
                        <!--    <Image class="rounded-xl" src={layoutResponsive}-->
                        <!--           alt="Illustration d'écran responsive"></Image>-->
                        <!--</div>-->
                    </div>
                    <div class="flex flex-wrap gap-y-8 gap-x-12 mt-16 items-start">
                        <div class=" sm:mt-[42px] platform bg-tertiary-container/70 text-on-tertiary-container">
                            <Icon className="h-16 w-16" icon={faBrowser}/>
                            <p>Web</p>
                        </div>
                        <div class="sm:flex-2 w-full md:w-fit">
                            <div class="flex gap-4 items-center">
                                <Diviser className="hidden md:block border-primary-container"/>
                                <p class="text-title-medium text-on-primary-container">Mobile</p>
                                <Diviser className="hidden md:block border-primary-container"/>
                            </div>
                            <div class="flex gap-4 mt-4">
                                <Diviser orientation="vertical" className="md:hidden border-primary-container"/>
                                <div class="flex flex-1 flex-wrap gap-8">
                                    <div class="flex-1 platform bg-primary-container text-on-primary-container">
                                        <Icon className="h-16 w-16" icon={faApple}/>
                                        <p>IOS</p>
                                    </div>
                                    <div class="flex-1 platform bg-primary-container text-on-primary-container">
                                        <Icon className="h-16 w-16" icon={faAndroid}/>
                                        <p>Android</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="flex-[3] w-full md:w-fit">
                            <div class="flex gap-4 items-center">
                                <Diviser className="hidden md:block border-secondary-container"/>
                                <p class="text-title-medium text-on-secondary-container">Desktop</p>
                                <Diviser className="hidden md:block border-secondary-container"/>
                            </div>
                            <div class="flex gap-4 mt-4">
                                <Diviser orientation="vertical" className="md:hidden border-secondary-container"/>
                                <div class="flex flex-1 flex-wrap gap-8">
                                    <div class="flex-[100%] lg:flex-1 platform bg-secondary-container text-on-secondary-container">
                                        <Icon className="h-16 w-16" icon={faWindows}/>
                                        <p>Windows</p>
                                    </div>
                                    <div class="flex-1 platform bg-secondary-container text-on-secondary-container">
                                        <Icon className="h-16 w-16" sName="h-10" icon={faApple}/>
                                        <p>MacOs</p>
                                    </div>
                                    <div class="flex-1 platform bg-secondary-container text-on-secondary-container">
                                        <Icon className="h-16 w-16" icon={faLinux}/>
                                        <p>Linux</p>
                                    </div>
                                </>
                            </div>
                        </div>
                        <style is:global>
                            .platform {
                                @apply py-4 px-8 rounded-lg flex flex-col items-center gap-4
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
        <LinearGradient nextTheme="blue"/>
    </section>
    <section class="theme-blue pt-8 !z-20">
        <div class="max-width">
            <div class="flex">
                <div>
                    <Line isLast client:load icon={faLaptopMobile}/>
                </div>
                <div class="padding">
                    <p data-aos="fade-right" class="text-title-large">Design</p>
                    <div data-aos="fade-right" data-aos-delay="100" class="mt-4 text-display-medium max-w-prose">
                        <h2 class="text-gradient">Augmentez la fidélité de vos utilisateurs</h2>
                        <h3>Offrez une expérience utilisateur exceptionnelle avec mes services.</h3>
                    </div>
                </div>
            </div>
            <StickyScroll client:load/>
        </div>


        <!--<div class="flex gap-8 mt-32">-->
        <!--    <div>-->
        <!--        <Diviser/>-->
        <!--        <div class="pt-8 pr-8">-->
        <!--            <h3 class="">Thèmes couleur personnalisés</h3>-->
        <!--            <p class="mt-6 text-body-large">Personnalisez facilement vos applications avec des palettes de-->
        <!--                couleurs cohérentes et dynamiques.</p>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    <div>-->
        <!--        <Diviser/>-->
        <!--        <div class="pt-8 pr-8">-->
        <!--            <h3 class="">Design réactif et moderne</h3>-->
        <!--            <p class="mt-6 text-body-large">Offrez une expérience utilisateur fluide avec des composants-->
        <!--                modernes et réactifs.</p>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--    <div>-->
        <!--        <Diviser/>-->
        <!--        <div class="pt-8 pr-8">-->
        <!--            <h3 class="">Accessibilité améliorée</h3>-->
        <!--            <p class="mt-6 text-body-large">Garantissez une utilisation optimale pour tous avec des-->
        <!--                standards élevés d'accessibilité intégrés.</p>-->
        <!--        </div>-->
        <!--    </div>-->
        <!--</div>-->
        <LinearGradient nextTheme="orange"/>
    </section>
    <!--<section class="section">-->
    <!--    <TextRevealByWord client:load-->
    <!--                      text="Un petit secret ? Il est courant que seul 20% de l'ensemble d'un site soit visible."/>-->
    <!--</section>-->

    <section id="back-end" class="pt-64  theme-orange">
        <p class="text-center text-title-medium text-tertiary">Back-end</p>
        <h2 class="text-center text-display-medium mt-2 mb-8 max-w-prose mx-auto">
            Derrière chaque application de qualité se cache un <span class="text-gradient">développement back-end</span>
            solide.</h2>
        <p class="text-center text-body-large max-w-prose mx-auto">En tant que développeur full-stack, j’assure la
            performance, la sécurité et la fiabilité de vos projets grâce à des solutions back-end robustes.</p>
    </section>
    <section class="theme-orange">
        <div class="max-width">
            <div class="flex">
                <div>
                    <Line isLast client:load icon={faGears}/>
                </div>
                <div class="padding">

                    <p data-aos="fade-right" class="text-title-large">Languages & Framework</p>
                    <div data-aos="fade-right" data-aos-delay="100" class="mt-4 text-display-medium max-w-prose">
                        <h2 class="text-gradient">Chacune de vos problématiques a une solution</h2>
                        <h3>La diversité des langages pour déverrouiller chaque défi de programmation</h3>
                    </div>
                </div>
            </div>
            <div class="grid grid-cols-5 gap-4 mt-12">
                <Card variant="filled" className="col-span-3 row-span-2 p-6">
                    <p class="text-title-medium">Typescript :</p>
                    <Techno buttonLabel="En voir plus" variant="primary" className="flex-1 mt-8 ml-4"
                            image={astroLogo}
                            client:load name="Nest.Js"
                            description="Framework progressif pour la construction d'applications côté serveur en utilisant TypeScript."
                            details="Mon choix préféré depuis plusieurs années pour créer des applications côté serveur. J'apprécie particulièrement son approche modulaire, sa documentation exhaustive, et sa rigueur. Il s'adapte à toutes les situations en assurant toujours la qualité du code."
                    >
                        <Techno image={astroLogo} client:load displayMore name="Express.Js"
                                description="Framework minimaliste pour Node.js, facilitant la création rapide d'applications web et API.">
                        </Techno>
                        <Techno className="mt-4" image={astroLogo} client:load displayMore name="Node.Js"
                                description="Environnement d'exécution JavaScript côté serveur pour la création d'applications en réseau évolutives.">
                        </Techno>
                    </Techno>
                </Card>

                <Card className="col-span-2 row-span-1" variant="filled">
                    <Techno variant="primary" className="p-6" client:load image={flutterLogo} displayMore
                            name="Python"
                            description="Langage de programmation polyvalent adoré pour sa simplicité, utilisé en science des données, IA, développement web, et bien plus.">
                    </Techno>
                </Card>
                <Card variant="filled" className="col-span-2 row-span-2">
                    <Techno variant="primary" className="p-6 min-h-full" client:load image={flutterLogo}
                            displayMore
                            name="PHP"
                            description="Un langage de script côté serveur populaire pour le développement web dynamique."
                            details="Le premier langage que j'ai appris lors de mes études, juste après Java. Un souvenir nostalgique de ce qui a lancé ma passion pour le développement web."
                    >
                        <Techno image={astroLogo} client:load displayMore name="Synfony"
                                description="Ensemble de composants PHP réutilisables et un framework web full-stack pour les applications d'entreprise.">
                        </Techno>
                    </Techno>
                </Card>

                <div class="col-span-3 flex gap-4">
                    <Card className="flex-1" variant="filled">
                        <Techno variant="primary" className="p-6" client:load image={flutterLogo} displayMore
                                name="Java"
                                description="Langage de programmation orienté objet, à usage général, populaire pour la construction d'applications d'entreprise sécurisées et durables.">
                        </Techno>
                    </Card>

                    <Card className="flex-1" variant="filled">
                        <Techno variant="primary" className="p-6" client:load image={flutterLogo} displayMore
                                name="Go"
                                description="Langage de programmation compilé conçu pour l'efficacité, la performance, et la concurrence, souvent utilisé pour les systèmes de back-end.">
                        </Techno>
                    </Card>
                </div>
            </div>
        </div>

    </section>

</Layout>