---
import Layout from "../layouts/Layout.astro";
import Obfuscate from 'react-obfuscate';
import {Button, Diviser} from "@udixio/ui"
import home1 from "@assets/images/home-1.png";
import home1Left from "@assets/images/home-1-left.png";
import home1Middle from "@assets/images/home-1-middle.png";
import home1Right from "@assets/images/home-1-right.png";
import home1Stars from "@assets/images/home-1-stars.svg";
import {TextField} from "@udixio/ui";
import {Image} from "astro:assets";
import {StickyScroll} from "@components/sticky-scroll-reveal";
import '@dotlottie/react-player/dist/index.css';
import astroLogo from "@assets/images/astro-logo.svg?raw"
import reactLogo from "@assets/images/react-logo.svg?raw"
import nestLogo from "@assets/images/nest-logo.svg?raw"
import expressLogo from "@assets/images/express-logo.svg?raw"
import tsLogo from "@assets/images/ts-logo.svg?raw"
import {Link} from "@components/Link"
import angularLogo from "@assets/images/angular-logo.svg?raw"
import materialLogo from "@assets/images/material-design-logo.svg?raw"
import framerMotionLogo from "@assets/images/framer-motion-logo.svg?raw"
import sassLogo from "@assets/images/sass-logo.svg?raw"
import layoutResponsive from "@assets/images/Responsive-pana.svg"
import flutterLogo from "@assets/images/flutter-logo.svg?raw"
import tailwindLogo from "@assets/images/tailwind-logo.svg?raw"
import baseLogo from "@assets/images/base-logo.svg?raw"
import portrait from "@assets/images/portrait.jpg"
import {FormContact} from "@components/FormContact";
import {BackgroundColor} from "@components/BackgroundColor";
import {Icon} from "@udixio/ui"
import {Card} from "@udixio/ui"
import {
    faAddressCard, faChartNetwork,
    faCircle, faCloud,
    faCode, faCodeBranch, faComments, faGears,
    faLaptopMobile,
    faMessageMiddle, faPhone, faProjectDiagram
} from "@fortawesome/pro-light-svg-icons";
import {Techno} from "@components/Techno"
import TextRevealByWord from "../components/TextReveal";
import {faBrowser, faCircleInfo, faEnvelope,} from "@fortawesome/pro-regular-svg-icons";
import {
    faAndroid,
    faApple,
    faGolang,
    faJava,
    faLinux,
    faNodeJs, faPhp,
    faPython, faSymfony,
    faWindows
} from "@fortawesome/free-brands-svg-icons";
import {Line} from '@components/Line'
import {LinearGradient} from "@components/LinearGradient";
---
<Layout>
    <style is:global>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>
    <section class="pt-20 md:pt-28 xl:pt-32">
        <div class="max-width">
            <div class="flex">
                <div>
                    <Line client:load visible isFirst icon={faCircle}/>
                </div>
                <div class="padding !pb-16">
                    <Image class="rounded-xl" src={portrait} height={64} width={64} alt="Joël"></Image>
                    <h1 class="text-headline-large my-6">
                        Joël VIGREUX
                    </h1>
                    <div class="flex flex-wrap gap-4">
                        <div class="px-4 w-fit py-1.5 border border-outline-variant rounded-lg"><p
                                class="text-label-large text-on-surface-variant">Développeur
                            full-stack</p>
                        </div>
                        <div class="px-4 w-fit py-1.5 border border-outline-variant rounded-lg"><p
                                class="text-label-large text-on-surface-variant">3 années d'expériences</p>
                        </div>
                        <a href="#contact" class="group">
                            <div class="px-4 w-fit py-1.5 items-center flex gap-2 border relative overflow-hidden border-primary-container bg-primary-container rounded-lg">
                                <div class="group-state-on-primary-container absolute w-full h-full left-0 top-0">

                                </div>
                                <Icon className="h-[18px] text-on-secondary-container" icon={faMessageMiddle}></Icon>
                                <p
                                        class="text-label-large text-on-secondary-container">Disponible pour vos
                                    projets</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex mt-8">
                <div>
                    <Line client:load icon={faAddressCard} nextTheme="purple"/>
                </div>
                <div class="padding">
                    <h2 class="text-title-medium  mb-4 text-tertiary ">À propos de moi</h2>
                    <p class="text-body-large max-w-3xl ">
                        Bonjour, je suis Joël Vigreux - un développeur passionné.<br/> Ayant découvert un vif intérêt
                        pour
                        le
                        <Link href="#back-end">back-end</Link>
                        en
                        débutant ma carrière, je me suis ensuite laissé porter par l'univers fascinant du
                        <Link href="#front-end">front-end</Link>
                        et de <span class="text-nowrap">l'
            <Link
                    href="#experience-utilisateur">expérience&nbsp;utilisateur</Link></span>
                        tout en intégrant des pratiques
                        <Link
                                href="#ecoresponsabilite">écoresponsables
                        </Link>
                        de manière pragmatique.
                    </p>
                    <div class="mt-8 flex md:flex-row flex-col gap-4">
                        <Button href="#contact" icon={faEnvelope} label="Me contacter"/>
                        <Button href="#front-end" icon={faCircleInfo} variant="outlined"
                                label="En savoir plus"/>
                    </div>
                </div>
            </div>
        </div>
        <LinearGradient nextTheme="purple"/>
    </section>
    <section id="front-end" class="pt-8 theme-purple">
        <BackgroundColor canEscape={false} count={5} radius={800} className="opacity-100" client:load/>
        <div class="max-width ">
            <div class="flex">
                <div>
                    <Line client:load icon={faCode} isLast/>
                </div>
                <div class="padding ">
                    <p data-aos="fade-right" class="text-title-large">Développement web - Front-end</p>
                    <div data-aos="fade-right" data-aos-delay="100"
                         class="mt-4 text-headline-large md:text-display-medium max-w-prose">
                        <h2 class="text-gradient">Performance et flexibilité garantie</h2>
                        <h3>J'assure vos projets avec des technologies modernes et adaptables</h3>
                    </div>
                </div>
            </div>
            <div class="padding-x grid grid-cols-1 -mx-2 md:grid-cols-3 lg:grid-cols-3 gap-x-6 gap-y-4">
                <Card data-aos="zoom-in" variant="filled"
                      className="group">
                    <Techno variant="primary" className="p-6 pb-10" image={astroLogo}
                            name="Astro"
                    ><p>Optimise la création de sites web rapides en permettant l'intégration de divers frameworks et en
                        générant du contenu statique ultra-performant.</p>
                    </Techno>
                </Card>
                <Card data-aos="zoom-in" data-aos-delay={150} variant="filled"
                      className="group">
                    <Techno variant="primary" className="p-6 pb-10" image={reactLogo}
                            name="React"
                    ><p>Facilite la création d'interfaces interactives avec des composants réutilisables, accélérant le
                        développement et la gestion de l'état.</p>
                    </Techno>
                </Card>
                <Card data-aos="zoom-in" data-aos-delay={300} variant="filled"
                      className="group">
                    <Techno variant="primary" className="p-6 pb-10" image={tailwindLogo}
                            name="Tailwind"
                    ><p>Permet de créer des designs personnalisés rapidement avec des classes utilitaires, rendant le
                        style des composants flexible et modulaire.</p>
                    </Techno>
                </Card>
                <Card data-aos="zoom-in" data-aos-delay={450} className="md:col-span-3 p-6 pb-10 mb-px mt-4">
                    <p class="mb-8 mt-2">Ma boîte à outils :</p>
                    <div class=" grid md:grid-cols-2 gap-x-4 gap-y-6">
                        <Techno image={framerMotionLogo} name="Framer Motion"
                        ><p>Rend les animations web simples et fluides, ajoutant du dynamisme à vos interfaces avec
                            facilité.</p>
                        </Techno>
                        <Techno image={materialLogo} name="Material 3"
                        ><p>Apporte des designs modernes et élégants, offrant des interfaces cohérentes et intuitives
                            avec des éléments visuels raffinés.</p>
                        </Techno>
                        <Techno image={angularLogo} name="Angular"
                        ><p>Facilite le développement d'applications web robustes et évolutives avec une structure
                            organisée et des fonctionnalités puissantes intégrées.</p>
                        </Techno>
                        <Techno image={sassLogo} name="Sass"
                        ><p>Simplifie le CSS avec des variables et des fonctions, facilitant la gestion des styles
                            complexes.</p>
                        </Techno>
                        <Techno image={tsLogo} name="Typescript"
                        ><p>Améliore le JavaScript avec des types, rendant le code plus sûr et plus facile à
                            maintenir.</p>
                        </Techno>

                        <Techno image={baseLogo} name="Les bases (HTML, CSS et JavaScript)"
                        ><p>Fondations essentielles pour créer des sites web interactifs et fonctionnels.</p>
                        </Techno>
                    </div>
                </Card>
            </div>
            <div class="flex h-52">
                <div>
                    <Line client:load/>
                </div>
            </div>
        </div>
    </section>
    <section class="theme-purple pt-8">
        <div class="max-width">
            <div class="flex">
                <div>
                    <Line client:load nextTheme="blue" icon={faLaptopMobile}/>
                </div>
                <div class="padding">
                    <div class="flex items-center md:flex-row flex-col">
                        <div class="left">
                            <p data-aos="fade-right" class="text-title-large">Développement multiplateforme</p>
                            <div data-aos="fade-right" data-aos-delay="100"
                                 class="mt-4 text-headline-large md:text-display-medium max-w-prose">
                                <h2 class="text-gradient">Touchez un public plus large</h2>
                                <h3>Je convertis vos idées en applications adaptables à tous les
                                    appareils</h3>
                            </div>
                            <p data-aos="fade-right" data-aos-delay="100" class="max-w-prose mt-8 text-body-large">
                                Flutter me permet de créer des applications pour
                                mobiles, web, bureau et intégrés à partir d'une seule base de code. J'apprécie
                                particulièrement
                                son efficacité dans le développement multiplateforme, ce qui facilite grandement mon
                                travail.</p>

                        </div>
                        <!--<div class="right">-->
                        <!--    <Image class="rounded-xl" src={layoutResponsive}-->
                        <!--           alt="Illustration d'écran responsive"></Image>-->
                        <!--</div>-->
                    </div>
                    <div class="flex flex-wrap gap-y-8 gap-x-12 mt-16 items-start">
                        <div data-aos="zoom-in"
                             class=" sm:mt-[42px] platform bg-tertiary-container/70 text-on-tertiary-container">
                            <Icon className="h-16 w-16" icon={faBrowser}/>
                            <p>Web</p>
                        </div>
                        <div class="sm:flex-2 w-full md:w-fit">
                            <div class="flex gap-4 items-center">
                                <Diviser className="hidden md:block border-primary-container"/>
                                <p class="text-title-medium text-on-primary-container">Mobile</p>
                                <Diviser className="hidden md:block border-primary-container"/>
                            </div>
                            <div class="flex gap-4 mt-4">
                                <Diviser orientation="vertical" className="md:hidden border-primary-container"/>
                                <div class="flex flex-1 flex-wrap gap-8">
                                    <div data-aos="zoom-in" data-aos-delay={150}
                                         class="flex-1 platform bg-primary-container text-on-primary-container">
                                        <Icon className="h-16 w-16" icon={faApple}/>
                                        <p>IOS</p>
                                    </div>
                                    <div data-aos="zoom-in" data-aos-delay={150}
                                         class="flex-1 platform bg-primary-container text-on-primary-container">
                                        <Icon className="h-16 w-16" icon={faAndroid}/>
                                        <p>Android</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="flex-[3] w-full md:w-fit">
                            <div class="flex gap-4 items-center">
                                <Diviser className="hidden md:block border-secondary-container"/>
                                <p class="text-title-medium text-on-secondary-container">Desktop</p>
                                <Diviser className="hidden md:block border-secondary-container"/>
                            </div>
                            <div class="flex gap-4 mt-4">
                                <Diviser orientation="vertical" className="md:hidden border-secondary-container"/>
                                <div class="flex flex-1 flex-wrap gap-8">
                                    <div data-aos="zoom-in" data-aos-delay={300}
                                         class="flex-[100%] lg:flex-1 platform bg-secondary-container text-on-secondary-container">
                                        <Icon className="h-16 w-16" icon={faWindows}/>
                                        <p>Windows</p>
                                    </div>
                                    <div data-aos="zoom-in" data-aos-delay={300}
                                         class="flex-1 platform bg-secondary-container text-on-secondary-container">
                                        <Icon className="h-16 w-16" sName="h-10" icon={faApple}/>
                                        <p>MacOs</p>
                                    </div>
                                    <div data-aos="zoom-in" data-aos-delay={300}
                                         class="flex-1 platform bg-secondary-container text-on-secondary-container">
                                        <Icon className="h-16 w-16" icon={faLinux}/>
                                        <p>Linux</p>
                                    </div>
                                </>
                            </div>
                        </div>
                        <style is:global>
                            .platform {
                                @apply py-4 px-8 rounded-lg flex flex-col items-center gap-4
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
        <LinearGradient nextTheme="blue"/>
    </section>
    <section class="theme-purple pt-8 !z-20">
        <div class="max-width">
            <div class="flex">
                <div>
                    <Line isLast client:load icon={faLaptopMobile}/>
                </div>
                <div class="padding">
                    <p data-aos="fade-right" class="text-title-large">Design</p>
                    <div data-aos="fade-right" data-aos-delay="100"
                         class="mt-4 text-headline-large md:text-display-medium max-w-prose">
                        <h2 class="text-gradient">Augmentez la fidélité de vos utilisateurs</h2>
                        <h3>Offrez une expérience utilisateur exceptionnelle avec mes services</h3>
                    </div>
                </div>
            </div>
            <StickyScroll client:idle/>
        </div>
        <LinearGradient nextTheme="green"/>
    </section>
    <section id="back-end" class="pt-64  theme-green">
        <div class="section">
            <p class="text-center text-title-medium text-tertiary">Back-end</p>
            <h2 class="text-center text-headline-large md:text-display-medium mt-2 mb-8 max-w-prose mx-auto">
                Derrière chaque application de qualité se cache un <span
                    class="text-gradient">développement back-end</span>
                solide</h2>
            <p class="text-center text-body-large max-w-prose mx-auto">En tant que développeur full-stack, j’assure la
                performance, la sécurité et la fiabilité de vos projets grâce à des solutions back-end robustes.</p>
        </div>
    </section>
    <section class="theme-green">
        <div class="max-width">
            <div class="padding-x grid grid-cols-1 -mx-2 md:grid-cols-3 lg:grid-cols-3 gap-x-6 gap-y-4">
                <Card data-aos="zoom-in" variant="filled"
                      className="group ">
                    <Techno variant="primary" className="p-6 pb-10"
                            icon={faChartNetwork}
                            name="Choix d'APIs Adaptées"
                    >
                        <p>Que vous ayez besoin de GraphQL pour des requêtes flexibles, REST pour sa simplicité
                            éprouvée, ou gRPC pour des performances élevées, je mets en place des APIs adaptées à vos
                            besoins.</p>
                        <p class="mt-4">Chaque solution est sélectionnée pour optimiser la communication entre vos
                            services et offrir une expérience utilisateur fluide.
                        </p>
                    </Techno>
                </Card>
                <Card data-aos="zoom-in" data-aos-delay={150} variant="filled"
                      className="group">
                    <Techno variant="primary" className="p-6 pb-10" icon={faProjectDiagram}
                            name="Architecture Flexible et Efficace"
                    ><p>J'adopte des architectures monolithiques pour la simplicité et des microservices pour une
                        scalabilité optimale, en intégrant des principes d'inversion de contrôle (IoC) pour une
                        meilleure modularité.
                    </p>
                        <p class="mt-4">
                            Cela permet de créer des systèmes robustes qui répondent aux besoins spécifiques de votre
                            entreprise, assurant une croissance fluide et une adaptation facile.
                        </p>
                    </Techno>

                </Card>
                <Card data-aos="zoom-in" data-aos-delay={300} variant="filled"
                      className="group">
                    <Techno variant="primary" className="p-6 pb-10" icon={faCloud}
                            name="Solutions Serverless"
                    ><p>Pour des applications nécessitant une gestion simplifiée et une scalabilité automatique,
                        j'implémente des solutions serverless.
                    </p>
                        <p class="mt-4">
                            Cette approche permet de réduire les coûts d'infrastructure et de se concentrer sur le
                            développement de vos fonctionnalités, sans les tracas liés à la gestion des serveurs.</p>
                    </Techno>
                </Card>
            </div>
            <div class="flex h-52">
                <div>
                    <Line client:load isFirst/>
                </div>
            </div>
        </div>
    </section>
    <section class="theme-green pt-8">
        <BackgroundColor canEscape={false} count={5} radius={800} className="opacity-80" client:load/>
        <div class="max-width">
            <div class="flex">
                <div>
                    <Line isLast client:load icon={faGears}/>
                </div>
                <div class="padding">
                    <p data-aos="fade-right" class="text-title-large">Languages & Frameworks</p>
                    <div data-aos="fade-right" data-aos-delay="100"
                         class="mt-4 text-headline-large md:text-display-medium max-w-prose">
                        <h2 class="text-gradient">Chaque défi a sa solution</h2>
                        <h3>Ma maîtrise de divers langages m'aide à relever une large gamme de défis</h3>
                    </div>
                </div>
            </div>
            <div class="grid padding-x lg:grid-cols-5 md:grid-cols-2 grid-cols-1 gap-6">
                <Card data-aos="zoom-in" variant="filled" className="lg:col-span-3 md:col-span-2 p-6">
                    <Techno buttonLabel="En voir plus" variant="primary" className=""
                            image={nestLogo}
                            name="Nest.Js"
                    >
                        <p>Offre une structure modulaire et un support TypeScript pour créer des applications back-end
                            robustes et évolutives.</p>
                    </Techno>
                    <p class="mt-8 text-label-large">Maîtriser NestJS implique également l'utilisation de :</p>
                    <div class="mt-4 flex flex-col gap-4">
                        <Techno image={expressLogo} name="Express.Js">
                            <p>Simplifie la création d'applications web avec une API légère et flexible pour le routage
                                et la gestion des requêtes.</p>
                        </Techno>
                        <Techno icon={faNodeJs} name="Node.Js">
                            <p>Permet d'exécuter JavaScript côté serveur pour créer des applications rapides et
                                évolutives avec un accès aux ressources système.</p>
                        </Techno>
                        <Techno image={tsLogo} name="Typescript">
                            <p>Renforce JavaScript avec des types statiques pour un code plus sûr, clair et facile à
                                maintenir.</p>
                        </Techno>
                    </div>
                </Card>
                <Card data-aos="zoom-in" data-aos-delay={150} className="lg:col-span-2 row-span-1" variant="filled">
                    <Techno variant="primary" className="p-6" icon={faGolang}
                            name="Go"
                    ><p>Offre une performance élevée et une gestion efficace de la concurrence, idéal pour des
                        applications rapides et pour des systèmes variés grâce à sa compilation en binaire.</p>
                    </Techno>
                </Card>
                <div class="lg:col-span-3 flex lg:flex-row flex-col gap-6 lg:order-1">
                    <Card data-aos="zoom-in" data-aos-delay={300} className="flex-1" variant="filled">
                        <Techno variant="primary" className="p-6" icon={faJava}
                                name="Java"
                        ><p>Offre une plateforme robuste et évolutive pour développer des applications back-end
                            complexes, idéale pour les systèmes d'entreprise et les services web.</p>
                        </Techno>
                    </Card>
                    <Card data-aos="zoom-in" data-aos-delay={450} className="flex-1" variant="filled">
                        <Techno variant="primary" className="p-6" icon={faPython}
                                name="Python">
                            <p>Offre une syntaxe claire et simple pour développer rapidement des applications
                                puissantes,
                                idéal pour l'analyse de données, l'intelligence artificielle et le développement
                                web.</p>
                        </Techno>
                    </Card>
                </div>
                <Card data-aos="zoom-in" data-aos-delay={600} variant="filled"
                      className="md:col-span-2 p-6 ">
                    <Techno variant="primary" className="" icon={faPhp}
                            name="PHP"
                    >
                        <p>Langage serveur largement utilisé pour créer des sites web dynamiques et interactifs, avec
                            une vaste communauté et de nombreuses solutions prêtes à l'emploi.</p>
                    </Techno>
                    <Techno className="mt-6" icon={faSymfony} name="Symfony"
                    ><p>Fournit un framework PHP flexible et puissant pour développer des applications web complexes
                        avec une architecture robuste et des composants réutilisables.</p>
                    </Techno>
                </Card>
            </div>
            <div class="flex h-52">
                <div>
                    <Line client:load isFirst/>
                </div>
            </div>
        </div>
    </section>
    <div class="overflow-hidden">
        <section class="theme-green pt-8">
            <div class="max-width">
                <div class="flex">
                    <div>
                        <Line isLast client:load icon={faGears}/>
                    </div>
                    <div class="padding">
                        <p data-aos="fade-right" class="text-title-large">CMS</p>
                        <div data-aos="fade-right" data-aos-delay="100"
                             class="mt-4 text-headline-large md:text-display-medium max-w-prose">
                            <h2 class="text-gradient">Restez maître de votre contenu</h2>
                            <h3>Je sélectionne les CMS adaptés pour répondre précisément à vos besoins.</h3>
                        </div>
                        <div class="flex md:flex-row flex-col gap-8 mt-16">
                            <Card data-aos="zoom-in" variant="filled"
                                  className="group ">
                                <Techno variant="primary" className="p-6 pb-10"
                                        icon={faChartNetwork}
                                        name="Sanity"
                                >
                                    <p>CMS headless offrant une gestion efficace des contenus structurés, parfait pour
                                        des
                                        projets nécessitant une séparation entre contenu et présentation.</p>
                                </Techno>
                            </Card>
                            <Card data-aos="zoom-in" data-aos-delay={150} variant="filled"
                                  className="group">
                                <Techno variant="primary" className="p-6 pb-10" icon={faProjectDiagram}
                                        name="Builder.io"
                                ><p>CMS drag-and-drop facilitant la création de pages dynamiques sans codage, idéal pour
                                    des
                                    mises à jour rapides et une intégration fluide avec des frameworks modernes.
                                </p>
                                </Techno>
                            </Card>
                            <Card data-aos="zoom-in" data-aos-delay={300} variant="filled"
                                  className="group">
                                <Techno variant="primary" className="p-6 pb-10" icon={faCloud}
                                        name="Wordpress"
                                ><p>Le CMS le plus populaire pour sa flexibilité, ses thèmes et plugins variés, idéal
                                    pour
                                    blogs et sites d'entreprise avec une gestion facile du contenu..
                                </p>
                                </Techno>
                            </Card>
                        </div>
                        <div data-aos="fade-right" data-aos-delay="100">
                            <p class="text-body-large max-w-prose mt-8">Si votre CMS préféré n’est pas dans cette liste,
                                pas
                                d'inquiétude ! J'ai hâte de le découvrir et d'apporter mon expérience pour vous aider à
                                l'intégrer parfaitement à votre projet.</p>
                            <!--<Button className="w-fit mt-4" href="#contact" icon={faEnvelope} label="Contactez-moi"/>-->
                        </div>
                    </div>
                </div>
            </div>
            <LinearGradient nextTheme="blue"/>
        </section>
        <section id="contact" class="theme-blue py-16 md:py-32">
            <BackgroundColor className="" canEscape={false} count={5} radius={800} client:load/>

            <div data-aos="zoom-in"
                 class=" md:px-6 max-w-screen-2xl mx-auto ">
                <div class="bg-surface-container-highest lg:flex rounded-3xl overflow-hidden">
                    <div class="left flex-1 padding !pb-12 pt-8">
                        <div class="flex gap-4 group rounded-xl mt-2">
                            <div class="transition-all duration-300 flex items-center  justify-center rounded-lg  h-12 w-12 border border-outline-variant">
                                <Icon className="h-6 w-6 fill-on-surface-variant" icon={faComments}></Icon>
                            </div>
                            <div><p class="text-title-small mt-0.5">Discuter avec moi</p>
                                <div class="text-on-surface-variant max-w-prose text-body-small">
                                    <p class="mt-1">Je suis là pour vous aider.</p>
                                    <Obfuscate
                                            className="mt-4 inline-block underline-offset-4 underline !text-bold text-secondary focus-visible:text-primary hover:text-primary"
                                            client:only="react"
                                            email={import.meta.env.PUBLIC_EMAIL_RECIPIENT}
                                            headers={{
                                                body: `Bonjour,

Je m'appelle [Nom], et je souhaiterais vous parler d'un projet. Voici quelques détails :

Projet : [Brève description]
Objectifs : [Principaux objectifs]
Délai : [Délai souhaité]
Budget : [Budget estimé]
Je suis disponible pour en parler. Vous pouvez me contacter par email à [Votre Email] ou au [Votre Numéro].

Cordialement,

[Nom]`,
                                            }}
                                    />
                                </div>
                            </div>
                        </div>
                        <!--<div class="flex gap-4 mt-12 group rounded-xl ">-->
                        <!--    <div class="transition-all duration-300 flex items-center  justify-center rounded-lg  h-12 w-12 border border-outline-variant">-->
                        <!--        <Icon className="h-6 w-6 fill-on-surface-variant" icon={faPhone}></Icon>-->
                        <!--    </div>-->
                        <!--    <div><p class="text-title-small mt-0.5">Discuter avec nous</p>-->
                        <!--        <div class="text-on-surface-variant max-w-prose text-body-small">-->
                        <!--            <p class="mt-1">Notre équipe est là pour vous aider.</p>-->
                        <!--            <Link className="mt-4 block" href="mailto:example@gmaim.com">example@gmaim.com-->
                        <!--            </Link>-->
                        <!--        </div>-->
                        <!--    </div>-->
                        <!--</div>-->
                    </div>
                    <div class="right padding bg-surface-container-low flex-2 m-2 pt-8 rounded-2xl">
                        <p class="text-display-small max-w-prose"><span
                                class="text-gradient">Restons en contact</span><br/>
                            pour
                            donner vie à vos idées</p>
                        <p class="mt-4 max-w-prose">Partagez les détails de votre projet et découvrons ensemble, comment
                            je
                            peux vous
                            accompagner
                            dans sa réalisation</p>
                        <FormContact client:only="react"/>
                    </div>

                </div>
            </div>
        </section>
    </div>

</Layout>